@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

@font-face {
    font-family: 'Arista';
    src: url('../fonts/Arista2.0Alternate.ttf');
}
