@media only screen and (max-width: 425px)
{
	nav {
		width: auto;
	}

	nav .phone {
		display: none;
	}

	nav .social {
		display: none;
	}

	nav .logo {
		display: none;
	}

	.wrapper {
		width: 320px;
		padding: 0 16px;
		padding-bottom: 360px;
	}

	header {}
	header > img {
		width: 120px;
	}

	header > .title {
		font-size: 36px;
		width: auto;
	}

	header > .title .subtitle {
		font-size: 14px;
	}

	.search {
		display: none;
	}

	.row {
		flex-wrap: wrap;
	}

	.row > .category {
		margin: 8px 0;
	}

	.row > .category img {
		width: 100%;
	}

	.row > .category:last-of-type,
	.row > .category:first-of-type {
		margin: 8px 0;
	}

	.row > .package-preview {
		margin: 4px auto;
	}

	footer.main > .flex-wrapper {
		display: block;
	}

	footer.main > .flex-wrapper > img {
		width: 120px;
		height: auto;
		margin: 0 auto;
	}

	footer.main > .flex-wrapper > .contacts {
		margin: 0;
	}

	footer.main > .flex-wrapper > .legal {
		border-top: 1px solid #ddd;
		margin: 0;
		padding-top: 8px;
	}

	#our-offers > h1 {
		display: block;
		text-align: center;
	}

	.package {
		display: flex;
		flex-flow: column;
	}

	.package .main-photo {
		background-color: #eee;
		height: 344px;
		width: 288px;
		border-radius: 3px;
		margin-bottom: 16px;
	}

	.package .main-photo img {
		border-radius: 3px;
		width: 288px;
		height: 344px;
		object-fit: cover;
	}

	.package > .package-content {
		margin: 0;
	}

	.package > .package-content .title {
		font-size: 48px;
		text-align: center;
	}
}